header.s-header

  include ../components/c-corner

  .s-header__banner
    .text-center
      picture
        source(srcset="/img/logos/logo-adx-checklist.png" type="image/jpeg")
        img.img-logo(src="/img/logos/logo-adx-checklist.png" alt="ADX Checklist Logo" width="200" height="200")
      h1.font-weight-bold= translation.SITE_NAME
      p.sub-heading= translation.SITE_TAGLINE
      p.sub-heading2= translation.SITE_VERSION + "#{BUILD_DATE}#"