extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.clustersetup,
        sectionTitle: "Cluster setup"
      })

      +checklist-section({
        dataSection: _items.disasterrecovery,
        sectionTitle: "Disaster recovery"
      })

      +checklist-section({
        dataSection: _items.encryption,
        sectionTitle: "Encryption"
      })

      +checklist-section({
        dataSection: _items.cicd,
        sectionTitle: "Continuous integration and delivery"
      })

      +checklist-section({
        dataSection: _items.auth,
        sectionTitle: "Access control"
      })

      +checklist-section({
        dataSection: _items.education,
        sectionTitle: "Education"
      })

      +checklist-section({
        dataSection: _items.others,
        sectionTitle: "Others"
      })

  include components/s-section-bottom
